{% extends 'page.html' %}

{% block title %}Home{% endblock title %}
{% load staticfiles %}

{% block buscar%}
{% endblock buscar%}
{% block contenido %}

		<div class="col-md-10">
			
			<div class=" alert alert-info">
			     
				<div class="col-md-2">
					<img src="{{ user.usuario.grupoEmpresarial.logo.url }}" alt="Imagen de {{ user.usuario.grupoEmpresarial }}" width="50%" height="50%" />
				</div>

			         <i class="fa fa-info-circle fa-2x"></i> Bienvenido al sistema de administraci&oacute;n de WIFI Sr.(a) <b>{{ user.usuario.nombres}} {{user.usuario.apellidos}}</b>. <br>Creaci&oacute;n del usuario: {{ user.date_joined}}.<br>
			         {% if not user.last_login == null %}
			         	Ultima entrada: {{ user.last_login }}.
			         {% endif %}	
			</div>
		</div>
	<div class="col-md-10">
		<div class="col-md-12">
			<div class="content-box-header">
	  			<div class="panel-title">Redes y conexiones</div>
						
				<div class="panel-options">
					<a href="#" data-rel="collapse"><i class="fa fa-refresh"></i></a>
					
				</div>
		  	</div>
		  	<div class="content-box-large box-with-header">
				Aqui se debe mostras la cantidad de redes y usuarios conectados  				
					  			
				<br /><br />
			</div>
		</div>
	</div>
{% endblock contenido %}

{% block footer %}
{% endblock footer %}