{% extends 'base.html' %}
{% load staticfiles %}
	           		{% block buscar%}
	              <div class="row">
	                <div class="col-lg-12">
	                  <div class="input-group form">
	                       <input type="text" class="form-control" placeholder="Buscar...">
	                       <span class="input-group-btn">
	                         <button class="btn btn-primary" type="button">Buscar</button>
	                       </span>
	                  </div>
	                </div>
	              </div>
	              {% endblock buscar %}
	           	  {% block miCuenta %}
	              <div class="navbar navbar-inverse" role="banner">
	                  <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	                    <ul class="nav navbar-nav">
	                      <li class="dropdown">
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.usuario.nombres }} {{ user.usuario.apellidos}} <b class="caret"></b></a>
	                        <ul class="dropdown-menu animated fadeInUp">
	                          <li><a href="#"># Mi perfil</a></li>
	                          <li><a href="{% url 'usuario.logout' %}">Cerrar Sesion</a></li>
	                        </ul>
	                      </li>
	                    </ul>
	                  </nav>
	              </div>
	              {% endblock miCuenta %}
    		{% block menu %}
			  <div class="col-md-2">
			  	<div class="sidebar content-box" style="display: block;">
	                <ul class="nav">
	                    <!-- Main menu -->
	                    <li class="current"><a href="{% url 'usuario.index' %}"><i class="fa fa-home fa-2x"></i> Inicio</a></li>
	                    <li><a href="calendar.html"><i class="fa fa-user fa-2x"></i> Huesped</a></li>
	                    
	                    {% if 'infraestructura.Grupo_empresarial.Can_change_Grupo_empresarial' in perms %}
	                    <li class="submenu">
	                         <a href="#">
	                            <i class="fa fa-wrench fa-2x"></i> Configuración
	                            <span class="caret pull-right"></span>
	                         </a>
	                         <!-- Sub menu -->
	                         <ul>
	                            <li><a href="{% url 'infraestructura.sedes' %}"><i class="fa fa-university fa-2x"></i> Sede</a></li>
	                             <li><a href="#"><i class="fa fa-bed fa-2x"></i> Habitación</a></li>
	                             <li><a href="#"><i class="fa fa-group fa-2x"></i> Usuarios</a></li>
	                             <li><a href="#"><i class="fa fa-bar-chart fa-2x"></i> Reportes</a></li>

	                        </ul>
	                    </li>
	                    {% endif %}
	                </ul>
	             </div>
			  </div>
    		{% endblock menu %}